# PART 1 â€“ DATA

a- Create an SQL query that provides one of our main business KPIs - the number of Monthly
Active Users (MAU) per day per offer and per country
    
    A user is defined as Active if he streamed at least one track longer than 30 seconds
    
    MAU are based on a rolling 30 days period

b- Create an SQL query that provides the list of the 10 best streamers of Metronomy in 2016 in
France

c- Create an SQL query that provides the number of days between the inscription and the 100th
stream of all the Brazilian users registered in January 2018

# Import Libraries

In [1]:
import sqlite3
import pandas as pd

# Connection to the database

In [2]:
con = sqlite3.connect('music.db')

# Monthly Active Users (MAU) per day per offer and per country

Self join on the STREAMS table, with the condition that Stream_date1 - 30 < Stream_date2 <= Stream_date1
Please note that I have been using Sqlite, and for days difference the julianDay function was used.
However if it eas the like of Postgres, MySQL or others the syntaxt could be differnt (i.e. DATEDIFF, EXTRACT(MONTH FROM DATE),...)

In [3]:
MAU = pd.read_sql_query("SELECT ST1.Stream_date, ST1.Offer_id, ST1.Country, SUM(ST1.count) as MAU FROM \
                       (SELECT ST.Stream_date, Offer_id, U.Country, count(distinct ST.User_id) as count \
                        FROM STREAMS ST \
                        INNER JOIN USERS U ON U.User_id = ST.User_id \
                       WHERE Streams_duration >=30 \
                        GROUP BY Stream_date, Offer_id, U.Country ORDER BY Stream_date, Offer_id) ST1 \
                       JOIN \
                       (SELECT Stream_date, Offer_id, U.Country ,count(distinct ST.User_id) as count \
                        FROM STREAMS ST \
                        INNER JOIN USERS U ON U.User_id = ST.User_id \
                       WHERE Streams_duration >=30 \
                        GROUP BY Stream_date, Offer_id, U.Country ORDER BY Stream_date, Offer_id) ST2 \
                        ON \
                       julianDay(ST1.Stream_date) - julianDay(ST2.Stream_date) < 30 \
                        AND julianDay(ST1.Stream_date) - julianDay(ST2.Stream_date) >= 0 \
                       AND ST1.Offer_id = ST2.Offer_id \
                       AND ST1.Country = ST2.Country \
                       GROUP BY ST1.Stream_date, ST1.Offer_id, ST1.Country \
                       ", con)
MAU

     Stream_date  Offer_id Country  MAU
0     2016-01-01         0      BR    1
1     2016-01-01         1      DE    1
2     2016-01-01         1      FR    1
3     2016-01-01         2      DE    1
4     2016-01-01         2      FR    2
5     2016-01-02         1      FR    2
6     2016-01-02         2      BR    3
7     2016-01-02         2      FR    2
8     2016-01-02         3      BR    1
9     2016-01-02         3      FR    1
10    2016-01-02         4      DE    1
11    2016-01-02         4      FR    1
12    2016-01-02         4      GB    1
13    2016-01-03         1      BR    2
14    2016-01-03         1      DE    2
15    2016-01-03         4      BR    1
16    2016-01-03         4      FR    2
17    2016-01-04         0      FR    2
18    2016-01-04         1      BR    2
19    2016-01-04         1      DE    3
20    2016-01-04         2      FR    3
21    2016-01-04         3      BR    2
22    2016-01-04         3      DE    1
23    2016-01-05         0      BR    4
24    2016-01-05         1      BR    3
25    2016-01-05         1      DE    4
26    2016-01-05         1      GB    2
27    2016-01-05         3      BR    3
28    2016-01-05         3      GB    1
29    2016-01-05         4      FR    3
...          ...       ...     ...  ...
7577  2019-12-22         3      BR    6
7578  2019-12-22         3      GB    9
7579  2019-12-22         4      DE   18
7580  2019-12-23         2      FR   12
7581  2019-12-23         2      GB    9
7582  2019-12-23         3      DE    6
7583  2019-12-23         4      BR    4
7584  2019-12-23         4      GB   10
7585  2019-12-24         1      FR   18
7586  2019-12-24         1      GB    6
7587  2019-12-24         4      DE   10
7588  2019-12-25         1      FR    7
7589  2019-12-25         4      BR    4
7590  2019-12-25         4      DE   11
7591  2019-12-25         4      FR    7
7592  2019-12-26         0      DE   14
7593  2019-12-26         0      GB    7
7594  2019-12-26         1      BR    8
7595  2019-12-26         1      DE    4
7596  2019-12-26         1      FR    8
7597  2019-12-26         1      GB    6
7598  2019-12-26         2      BR   12
7599  2019-12-26         2      FR   13
7600  2019-12-26         3      BR    6
7601  2019-12-26         3      GB    7
7602  2019-12-26         4      FR    8
7603  2019-12-27         2      BR   12
7604  2019-12-27         3      FR    7
7605  2019-12-27         4      BR   10
7606  2019-12-27         4      GB   11

[7607 rows x 4 columns]

# 10 best streamers of Metronomy in 2016 in France (streamed on French territory)

## Top streamers as time listened

In [4]:
metronomy_2016_FR_top_10_time = pd.read_sql_query("\
                        SELECT U.User_id, U.Email, U.Country, U.Gender, \
                        SUM(Streams_duration) as Total_listen FROM STREAMS as ST \
                        INNER JOIN SONGS as SG \
                        ON SG.Sng_id = ST.Sng_id \
                        INNER JOIN ARTISTS as A \
                        ON A.Artist_id = SG.Artist_id \
                        INNER JOIN USERS as U \
                        ON U.User_id = ST.User_id \
                        WHERE A.Artist_name = 'Metronomy' \
                        AND ST.Country = 'FR' \
                        AND strftime('%Y', ST.Stream_date)= '2016' \
                        GROUP by U.User_id, U.Email, U.Country, U.Gender \
                        ORDER BY Total_listen DESC LIMIT 10", con)

In [5]:
metronomy_2016_FR_top_10_time

   User_id              Email Country Gender  Total_listen
0       71  email71@gmail.com      BR      F          1482
1       77  email77@gmail.com      GB      F          1399
2       92  email92@gmail.com      BR      M          1271
3       29  email29@gmail.com      DE      M          1237
4       72  email72@gmail.com      FR      F          1172
5       22  email22@gmail.com      FR      F          1104
6       32  email32@gmail.com      FR      M          1094
7       54  email54@gmail.com      GB      F          1083
8       67  email67@gmail.com      DE      F          1079
9       39  email39@gmail.com      GB      M          1071

## Top 10 streamers as number of listens

In [6]:
metronomy_2016_FR_top_10_count = pd.read_sql_query("\
                        SELECT U.User_id, U.Email, U.Country, U.Gender, \
                        COUNT(Streams_duration) as Total_listen FROM STREAMS as ST \
                        INNER JOIN SONGS as SG \
                        ON SG.Sng_id = ST.Sng_id \
                        INNER JOIN ARTISTS as A \
                        ON A.Artist_id = SG.Artist_id \
                        INNER JOIN USERS as U \
                        ON U.User_id = ST.User_id \
                        WHERE A.Artist_name = 'Metronomy' \
                        AND ST.Country = 'FR' \
                        AND strftime('%Y', ST.Stream_date)= '2016' \
                        GROUP by U.User_id, U.Email, U.Country, U.Gender \
                        ORDER BY Total_listen DESC LIMIT 10", con)

In [7]:
metronomy_2016_FR_top_10_count

   User_id              Email Country Gender  Total_listen
0       77  email77@gmail.com      GB      F            10
1       15  email15@gmail.com      FR      M             7
2       32  email32@gmail.com      FR      M             7
3       71  email71@gmail.com      BR      F             7
4       92  email92@gmail.com      BR      M             7
5       22  email22@gmail.com      FR      F             6
6       29  email29@gmail.com      DE      M             6
7       30  email30@gmail.com      BR      F             6
8       54  email54@gmail.com      GB      F             6
9       58  email58@gmail.com      GB      F             6

# Number of days between the inscription and the 100th stream of all the Brazilian users registered in January 2018

In [8]:
BR_100 = pd.read_sql_query("""\
                        SELECT U.User_id,R.Stream_date,U.Inscription_date, \
                        julianDay(R.Stream_date) - julianDay(U.Inscription_date) as num_days FROM \
                        (SELECT User_id, Stream_date, \
                        RANK() OVER(PARTITION BY User_id ORDER BY Stream_date ASC) RANK FROM STREAMS) R \
                        INNER JOIN USERS U
                        ON R.User_ID = U.User_id
                        WHERE R.RANK = 100 \
                        AND U.country ='BR'
                        AND strftime('%Y-%m', U.Inscription_date) = '2018-01'
""",con)

In [9]:
BR_100

   User_id Stream_date Inscription_date  num_days
0       66  2019-07-10       2018-01-01     555.0