# PART 1 â€“ DATA

a- Create an SQL query that provides one of our main business KPIs - the number of Monthly
Active Users (MAU) per day per offer and per country
    
    A user is defined as Active if he streamed at least one track longer than 30 seconds
    
    MAU are based on a rolling 30 days period

b- Create an SQL query that provides the list of the 10 best streamers of Metronomy in 2016 in
France

c- Create an SQL query that provides the number of days between the inscription and the 100th
stream of all the Brazilian users registered in January 2018

# Import Libraries

In [1]:
import sqlite3
import pandas as pd

# Connection to the database

In [2]:
con = sqlite3.connect('music.db')

# SELECT on TABLES

In [5]:
df = pd.read_sql_query("select * from SONGS;", con)

In [9]:
list(pd.read_sql_query("select * from SONGS;", con)['Sng_id'])

[729516,
 729524,
 729527,
 729532,
 729540,
 729546,
 729553,
 729557,
 729563,
 729570,
 729576,
 729581,
 729586,
 729591,
 729595,
 729601,
 729608,
 729611,
 729616,
 729621,
 729630,
 729636,
 729788,
 729791,
 729800,
 729806,
 729812,
 729822,
 729827,
 729837,
 729844,
 729851,
 729857,
 729858,
 729862,
 729868,
 729877,
 729883,
 729891,
 729898,
 729905,
 729914,
 729921,
 797378,
 797384,
 797388,
 797397,
 797403,
 797409,
 797418,
 797428,
 797434,
 797440,
 797446,
 797454,
 797458,
 797465,
 2658695,
 2658696,
 2658697,
 2658698,
 2658699,
 2658700,
 2658701,
 2658702,
 2658703,
 2658704,
 2658705,
 2658706,
 2658707,
 2658708,
 2658709,
 2658710,
 2658711,
 2658712,
 2658713,
 2658714,
 2658715,
 2658716,
 2658717,
 2658718,
 2658719,
 3060764,
 3060765,
 3060766,
 3060767,
 4211781,
 4211782,
 4211783,
 4211784,
 4211785,
 4211786,
 4211788,
 4605911,
 4605912,
 4605913,
 4605914,
 4605915,
 4605916,
 4605917,
 4605918,
 4605919,
 4605920,
 4605921,
 4605922,
 4605923,
 4605924,
 4605925,
 4605926,
 10240176,
 10240177,
 10240178,
 10240179,
 10240180,
 10240181,
 10240182,
 10240183,
 10240184,
 10240185,
 10240186,
 12254138,
 12254139,
 12254140,
 12254141,
 12254142,
 12254143,
 12254144,
 12254145,
 12254146,
 12254147,
 12254148,
 12254149,
 12254150,
 12254151,
 12254152,
 12254153,
 12254154,
 12254155,
 45151561,
 45151571,
 45151581,
 45151591,
 45151601,
 45151611,
 45151621,
 45151631,
 45151641,
 45151651,
 45151661,
 45151671,
 45151681,
 45151691,
 45151701,
 45151711,
 45151721,
 45151731,
 45151741,
 73615284,
 73615285,
 73615286,
 73615287,
 73615288,
 73615289,
 73615290,
 73615291,
 73615292,
 73615293,
 73615294,
 73615295,
 73615296,
 73615297,
 73615298,
 73615299,
 73615300,
 73615301,
 73615302,
 73615303,
 75311308,
 75311309,
 75311310,
 75311311,
 75311312,
 75311313,
 75311314,
 75311315,
 75311316,
 75311317,
 103915886,
 103915888,
 103915890,
 103915892,
 103915894,
 103915896,
 103915898,
 103915900,
 103915902,
 103915904,
 103915906,
 103915908,
 103915910,
 103915912,
 103915914,
 103915916,
 103915918,
 103915920,
 103915922,
 125799987,
 125799989,
 125799991,
 125799993,
 125799995,
 125799997,
 125799999,
 125800001,
 125800003,
 125800005,
 440380352,
 440380362,
 440380372,
 440380382,
 440380392,
 440380402,
 441818762,
 441818772,
 441818782,
 441818792,
 441818802,
 445786612,
 445786622,
 445786632,
 445786642,
 445797842,
 445797852,
 445797862,
 445797872,
 515837592,
 515837602,
 515837612,
 515837622,
 515837632,
 515838022,
 515838032,
 515838042,
 515838052,
 515838062,
 605990062,
 605990072,
 605990082,
 605990092,
 605990102,
 605990112,
 605990122,
 605990132,
 605990142,
 605990152,
 605990162,
 605990172,
 605990182,
 605990192,
 608670192,
 623345832,
 623345842,
 623345852,
 623345862,
 623345872,
 623347022,
 623347032,
 623347042,
 623347052,
 623347062,
 623420772,
 623420782,
 623420792,
 623420802,
 623420812,
 623420822,
 623420832,
 623420842,
 623420852,
 623420862,
 623420872,
 623420882,
 623420892,
 623420902,
 623420912,
 623420922,
 623472652,
 623472662,
 623472672,
 623472682,
 623520852,
 623520862,
 623520872,
 623520882,
 623527532,
 623527542,
 623527552,
 623527562,
 623527572,
 623527582,
 623527592,
 623527602,
 623527612,
 623527622,
 623527632,
 623527642,
 623527652,
 627782032,
 627782042,
 627782052,
 627782062,
 627782072,
 627782082,
 627782092,
 627782102,
 627782122,
 627782132,
 627782142,
 627782152,
 627782162,
 627782172,
 627782182,
 627782192,
 627782202,
 627782212,
 627782222,
 627782232,
 627782242,
 627782252,
 627782262,
 627782272,
 627782282,
 697409622,
 697409632,
 697409642,
 697409652,
 697409662,
 697409672,
 697409682,
 697409692,
 697409702,
 697409712,
 697409722,
 697409732,
 697409742,
 697409752,
 697409762,
 697409772,
 697409782,
 741235352,
 741235362,
 741235372,
 741235382,
 741235392,
 741235402,
 741235412,
 741235422,
 741235432,
 741235442,
 769252222,
 769252232,
 769252242,
 769252252,
 769252262,
 769252272,
 769252282,
 769252292,
 769252302,
 783294342]