# PART 1 â€“ DATA

a- Create an SQL query that provides one of our main business KPIs - the number of Monthly
Active Users (MAU) per day per offer and per country
    
    A user is defined as Active if he streamed at least one track longer than 30 seconds
    
    MAU are based on a rolling 30 days period

b- Create an SQL query that provides the list of the 10 best streamers of Metronomy in 2016 in
France

c- Create an SQL query that provides the number of days between the inscription and the 100th
stream of all the Brazilian users registered in January 2018

# Import Libraries

In [1]:
import sqlite3
import pandas as pd

# Connection to the database

In [2]:
con = sqlite3.connect('music.db')

# 10 best streamers of Metronomy in 2016 in France (streamed on French territory)

## Top streamers as time listened

In [3]:
metronomy_2016_FR_top_10_time = pd.read_sql_query("\
                        SELECT U.User_id, U.Email, U.Country, U.Gender, \
                        SUM(Streams_duration) as Total_listen FROM STREAMS as ST \
                        INNER JOIN SONGS as SG \
                        ON SG.Sng_id = ST.Sng_id \
                        INNER JOIN ARTISTS as A \
                        ON A.Artist_id = SG.Artist_id \
                        INNER JOIN USERS as U \
                        ON U.User_id = ST.User_id \
                        WHERE A.Artist_name = 'Metronomy' \
                        AND ST.Country = 'FR' \
                        AND strftime('%Y', ST.Stream_date)= '2016' \
                        GROUP by U.User_id, U.Email, U.Country, U.Gender \
                        ORDER BY Total_listen DESC LIMIT 10", con)

In [4]:
metronomy_2016_FR_top_10_time

   User_id               Email Country Gender  Total_listen
0      953  email953@gmail.com      BR      F           320
1       77   email77@gmail.com      FR      M           311
2      482  email482@gmail.com      FR      F           292
3      947  email947@gmail.com      BR      F           285
4      352  email352@gmail.com      FR      F           277
5      995  email995@gmail.com      FR      F           268
6      279  email279@gmail.com      GB      M           260
7      415  email415@gmail.com      BR      F           251
8      234  email234@gmail.com      GB      F           248
9      961  email961@gmail.com      DE      M           245

## Top 10 streamers as number of listens

In [6]:
metronomy_2016_FR_top_10_count = pd.read_sql_query("\
                        SELECT U.User_id, U.Email, U.Country, U.Gender, \
                        COUNT(Streams_duration) as Total_listen FROM STREAMS as ST \
                        INNER JOIN SONGS as SG \
                        ON SG.Sng_id = ST.Sng_id \
                        INNER JOIN ARTISTS as A \
                        ON A.Artist_id = SG.Artist_id \
                        INNER JOIN USERS as U \
                        ON U.User_id = ST.User_id \
                        WHERE A.Artist_name = 'Metronomy' \
                        AND ST.Country = 'FR' \
                        AND strftime('%Y', ST.Stream_date)= '2016' \
                        GROUP by U.User_id, U.Email, U.Country, U.Gender \
                        ORDER BY Total_listen DESC LIMIT 10", con)

In [7]:
metronomy_2016_FR_top_10_count

   User_id               Email Country Gender  Total_listen
0        2    email2@gmail.com      DE      F             1
1       13   email13@gmail.com      BR      F             1
2       77   email77@gmail.com      FR      M             1
3      130  email130@gmail.com      FR      F             1
4      234  email234@gmail.com      GB      F             1
5      276  email276@gmail.com      BR      M             1
6      279  email279@gmail.com      GB      M             1
7      352  email352@gmail.com      FR      F             1
8      407  email407@gmail.com      DE      F             1
9      415  email415@gmail.com      BR      F             1